body {
    background: #fff9fc;
    font-family: 'Arapey', serif;
    padding-top: 2%;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    font-size: 1.5rem;
}

img {
    width: 100%;
}

.text-large {
    font-size: 1.2rem;
}

.pb-3 {
    padding-bottom: 30px!important;
}

.gallery-padding {
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

#navbarNav {
    padding-left: 1.5rem;
}

.ekko-lightbox .modal-footer {
    justify-content: center;
    text-align: center;
}

