html {
    height: 100%;
}

body {
    background: rgb(255,249,252);
    font-family: 'Arapey', serif;
    font-size: 1.2rem;
    color: #313131;
    height: 100%;
}

.navbar {
    background: rgb(255,249,252);
    padding-top: 2%;
}

.navbar-brand {
    color: #fff9fc;
    font-size: 2.3rem;
}

.nav-item {
    font-size: 1.5rem;
}

#page-content {
    flex: 1 0 auto;
}

img {
    width: 100%;
}

.text-large {
    font-size: 1.2rem;
}

.pb-3 {
    padding-bottom: 30px!important;
}

.px-4 {
    padding-left: 1.7rem!important;
    padding-right: 1.7rem!important;
}

#sticky-footer {
    flex-shrink: none;
}

#navbarNav {
    padding-left: 1.1rem;
}

.navbar-light .navbar-brand {
    color: #2c2c2c;
}

#baguetteBox-overlay {
    background-color:rgba(255,249,252,.9)!important;
}

#baguetteBox-overlay .full-image img {
    max-width: 95%!important;
    max-height: 80%!important;
    box-shadow: none!important;
    margin-top: -5%;
}

@media screen and (max-width: 768px) { 
    #baguetteBox-overlay .full-image img {
        max-height: 70%!important;
        margin-top: -10%;
    }
}

#baguetteBox-overlay .full-image figcaption {
    bottom: auto!important;
    background-color: rgba(255,249,252,0)!important;
    font-family: 'Arapey', serif!important;
    font-size: 1.1rem;
    font-weight: bold;
    color: #2c2c2c!important;
    line-height: 1.4!important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#baguetteBox-overlay .full-image figcaption br {
    line-height: 20%!important;
}

.fadeIn {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 424px) { 
    body {
        padding-top: 1rem;
    }
    .navbar-brand {
        font-size: 2rem;
        /* color: red!important; */
    }
    .nav-item {
        font-size: 1.5rem;
    }
    .navbar {
        padding-left: 8%!important;
        padding-right: 8%!important;
    }
}

@media screen and (min-width: 425px) { 
    body {
        padding-top: 1.2rem;
    }
    .navbar-brand {
        font-size: 2.3rem;
        /* color: orange!important; */
    }
    .nav-item {
        font-size: 1.6rem;
    }
    .navbar {
        padding-left: 6%!important;
        padding-right: 6%!important;
    }
    #page-content {
        padding-left: 3%!important;
        padding-right: 3%!important;
    }
}

@media screen and (min-width: 576px) { 
    body {
        padding-top: 1.4rem;
    }
    .navbar-brand {
        font-size: 2.5rem;
        /* color: yellow!important; */
    }
    .nav-item {
        font-size: 1.8rem;
    }
    .navbar {
        padding-left: 3%!important;
        padding-right: 3%!important;
    }
    .container {
        padding-left: 2%!important;
        padding-right: 2%!important;
    }
}

@media screen and (min-width: 768px) { 
    body {
        padding-top: 1.6rem;
    }
    .navbar-brand {
        font-size: 2.4rem;
        padding-top: 4px;
        margin-left: -25px;
        /* color: green!important; */
    }
    .nav-item {
        font-size: 1.5rem;
    }
    #navbarNav {
        margin-right: -3%;
        margin-top: 0.5rem;
    }
    .navbar {
        padding-left: 4%!important;
        padding-right: 3%!important;
    }
    .container {
        padding-left: 6%!important;
        padding-right: 6%!important;
    }
}

@media screen and (min-width: 992px) { 
    body {
        padding-top: 1.6rem;
    }
    .navbar-brand {
        font-size: 2.4rem;
        padding-top: 4px;
        margin-left: -25px;
        /* color: blue!important; */
    }
    .nav-item {
        font-size: 1.5rem;
    }
    #navbarNav {
        margin-right: -3%;
        margin-top: 0.5rem;
    }
    .navbar {
        padding-left: 4%!important;
        padding-right: 4%!important;
    }
    .container {
        padding-left: 6%!important;
        padding-right: 6%!important;
    }
}

@media screen and (min-width: 1200px) { 
    body {
        padding-top: 1.6rem;
    }
    .navbar-brand {
        font-size: 2.4rem;
        padding-top: 4px;
        margin-left: -25px;
        /* color: indigo!important; */
    }
    .nav-item {
        font-size: 1.5rem;
    }
    #navbarNav {
        margin-right: -3%;
        margin-top: 0.5rem;
    }
    .navbar {
        padding-left: 4%!important;
        padding-right: 4%!important;
    }
}

@media screen and (min-width: 1440px) {
    body {
        padding-top: 1.6rem;
    }
    .navbar-brand {
        font-size: 2.4rem;
        padding-top: 4px;
        margin-left: -25px;
        /* color: violet!important; */
    }
    .nav-item {
        font-size: 1.5rem;
    }
    #navbarNav {
        margin-right: -3%;
        margin-top: 0.5rem;
    }
    .navbar {
        padding-left: 4%!important;
        padding-right: 4%!important;
    }
}


